.container {
    border-bottom: 1px solid gray;
    border-radius: 5px;
}

.container:hover {
    background-color: rgba(123, 123, 123, 0.3);
    cursor: pointer;
}

.place {
    text-align: left;
    padding-left: 20px;
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.weather {
    display: flex;
    justify-content: space-evenly;
}

.weather img {
    margin-left: 10px;
}