.section {
    display: inline-block;
    width: 600px;
}

.section p {
    padding: 0 50px;
}

.list-section {
    width: 600px;
}

.list-section ul {
    list-style: none;
    padding-left: 0;
    height: calc(100vh - 230px);
    overflow: auto;
}
