.container {
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.header {
    text-align: left;
    display: flex;
}

.header span {
    margin-left: 15px;
    margin-top: 6px;
}

.forecast span {
    display: block;
    font-weight: 500;
}